body {
    height: 100vh;
    margin: 0;
    background-image: url("images/fullmoonportrait.jpg");
    overflow-x: hidden;

}
.container {
    position: fixed;
    height:100vh;
    width:100vw;
    background-image: url("images/fullmoonportrait.jpg");
    background-position: center;
    background-size: 200%;
}
img {
  max-width: 100%;
    max-height: 100%;
}



a {
color: #FFFFFF;
}


#holo2d{
    position: fixed;
    width: 70%;
    z-index: 4;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 5%;

  }

  #holo3dl{
    position: absolute;
    height: 200%;
    width: 100%;
  }

  .Header {
    position: fixed;
    height: auto;
    margin-top: 9%;
    width: 100%;
    z-index: 5;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.0vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }
  .text {
    position: fixed;
    height: auto;
    margin-top: 1%;
    width: 100%;
    z-index: 5;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4vw;
    text-align: center;
    color: white;
  }
  .textbod {
    position: fixed;
    margin-top: 40vh;
    margin-left: 2%;
    width: 44%;
    z-index: 5;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(22% + 1.3vw);
    text-align: left;
    color: white;
  }
  .resources {
    position: fixed;
    right: 2%;
    margin-top: 40vh;
    width: 44%;
    z-index: 5;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc(22% + 1.2vw);
    text-align: right;
    color: white;
  }

.sig {
  position: fixed;
  opacity: 0.3;
  height: auto;
  width: calc(55% - 33vw);
  bottom: 0%;
  left: 2%;
  z-index: 5;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3vw;
  text-align: center;
  color: white;
}
.models{
  max-width: 100%;
    max-height: 100%;
}

#vid {width:90%; height:90%}

.bg{
  position:fixed;
width: 100vw;
height: 100vw;
  left:0;
  right:0;
  z-index: 0;
  background-color: black;
  overflow: hidden;
  background-size:cover;
background-repeat:no-repeat;
}
